$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #24242c;
$secondary-color: #787c7f;

h1 {
  color: $primary-color;
  font-size: 250%;
}

h2,
h3 {
  color: $secondary-color;
  font-weight: lighter;
}

h1,
h2,
h3 {
  font-family: $font-stack;
  text-align: center;
  margin-top: 0;
  line-height: 1.1;
}

body {
  margin: 2em;
}

* {
  font-family: $font-stack;
}