.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    height: 50px;
    width: 50px;
    margin: 0.2rem;
    color: black;
    font-weight: 500;
}
