$dark-grey: #787c7f;
$green: #6ca965;
$yellow: #c8b653;

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 0.2rem;
    color: black;
    font-weight: 500;
}

.no-score {
    background-color: white;
    border: 2px solid grey;
}

.incorrect {
    background-color: $dark-grey;
    border: 2px solid $dark-grey;
}

.in-word {
    background-color: $yellow;
    border: 2px solid $yellow;
}

.correct {
    background-color: $green;
    border: 2px solid $green;
}

