$hover-key-color: brightness(0.95);
$dark-grey: #787c7f;
$light-grey: #EFEFEF;
$green: #6ca965;
$yellow: #c8b653;

.key {
    display: inherit;
    flex-wrap: wrap;
    margin: 2px;
}

button {
    border: none;
    border-radius: 4px;
    height: 3.75rem;

    &:hover {
        filter: $hover-key-color;
    }
}

.large-btn {
    width: 4rem;
}

.small-btn {
    width: 2.75rem;
}

.no-score {
    background-color: $light-grey;
}

.incorrect {
    background-color: $dark-grey;
}

.in-word {
    background-color: $yellow;
}

.correct {
    background-color: $green;
}
